body {
  background: #333;
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

.progress-widget {
  width: 400px;
}

.progress-bar-container {
  width: 100%;
  height: 20px;
}

.progress-bar-outer {
  width: 300px;
  height: 20px;
  position: relative;
  top: 50%;
  margin-top: -10px;
  background: #999;
  overflow: hidden;
  border-radius: 5px;
  float: left;
}

.progress-bar-inner {
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #000;
  border-radius: 5px;
}

.progress-bar-numbers {
  float: right;
  width: 100px;
  text-align:  center;
  height: 20px;
  line-height: 20px;
}

.goal-desc {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.highlight-goal {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.highlight-goal > div {
  display: inline;
}

.highlight-goal .label {
  margin-right: 0.10em;
}

.highlight-goal .label,
.highlight-goal .goal-desc {
  display: inline;
}